name: Get My Token
on: workflow_dispatch
jobs:
  get_token:
    runs-on: ubuntu-latest
    steps:
      - name: Exchange Code
        run: |
          curl https://api.dropbox.com/oauth2/token \
            -d code=SKpi34ZToHcAAAAAAAAAHBdbgtm0AsGsFecvDh-uS54 \
            -d grant_type=authorization_code \
            -u ${{ secrets.DROPBOX_APP_KEY }}:${{ secrets.DROPBOX_APP_SECRET }}
